body{
	padding: 0px;
	margin: 0px;
}

form{
	padding: 0px;
	margin: 0px;
}

.sl-left-align{ }

.sl-right-align{ 

	transform: translateX(-100%);
	left: 100%;

}

.sl-center-align{  
    
	transform: translateX(-50%);
	left: 50%;

}

